<div class="support-ticket-container">
    <div class="support-ticket-wrapper container">
        <%- include('support-options.ejs',{ selectedTab:'reports' })%>
            <div class="support-ticket-details-container">

                <div class="reports-container">
                    <div class="reports-wrapper">
                        <%if(reports.length<=0){%>
                            <div style="text-align: center;">There are no reports here.</div>
                            <%}%>
                                <% reports.forEach(report=>{%>
                                    <div class="report">
                                        <div class="report-header">
                                            <div class="reported-thing-data-wrapper">
                                                <div class="reported-thing">
                                                    <%if(report.reportType=='postComment'){%>
                                                        <a href="<%='/trade/'+report.reportParentId+'/#'+report.reportObjId%>"
                                                            style='color: var(--text-color); font-size: 0.9em;'>
                                                            <%='Comment #'+report.reportObjId%>
                                                        </a>
                                                        <%}else if(report.reportType=='post' ){%>
                                                            <a href="<%='/trade/'+report.reportParentId%>"
                                                                style='color: var(--text-color); font-size: 0.9em;'>
                                                                <%='Post #'+report.reportParentId%>
                                                            </a>
                                                            <%}else if(report.reportType=='user' ){%>
                                                                <a href="<%='/user/'+report.reportParentId%>"
                                                                    style='color: var(--text-color); font-size: 0.9em;'>
                                                                    <%='User #'+report.reportParentId%>
                                                                </a>
                                                                <%}%>
                                                </div>
                                                <div class="reported-date">( reported <time
                                                        datetime="<%=report.createdAt%>"></time>)
                                                </div>
                                            </div>
                                            <div class="report-result">
                                                <%if(report.result==2){%>
                                                    <p class="report-pending">Pending</p>
                                                    <%}else if(report.result==1){%>
                                                        <a href="" class="report-resolved">Resolved</a>
                                                        <%}else if(report.result==0){%>
                                                            <a href="" class="report-invalid">Invalid</a>
                                                            <%}%>
                                            </div>
                                        </div>
                                        <div class="report-reason">
                                            <div class="report-tags">
                                                <div class="report-tag">
                                                    <%=report.reason%>
                                                </div>
                                                <%if(report.hasOwnProperty('assignedTo')){%>
                                                    <div class="report-tag">assigned to <%=report.assignedTo.name%>
                                                    </div>
                                                    <%}%>
                                            </div>
                                            <div class="report-notes">
                                                <%=report.description%>
                                            </div>
                                        </div>
                                    </div>
                                    <% })%>
                    </div>
                </div>

            </div>
    </div>
</div>