<%- include('../includes/head.ejs') %>

    <%- include('../admin_includes/admin-nav.ejs')%>

        <div class="admin-container">
            <div class="admin-menu">
                <%- include('../admin_includes/admin-menu.ejs',{activeTab:'dashboard'})%>
            </div>
            <div class="admin-details">
                <%- include('../admin_includes/dashboard.ejs')%>
            </div>
        </div>

        <%- include('../includes/end.ejs') %>