<%- include('../includes/head.ejs') %>

    <%- include('../admin_includes/admin-nav.ejs')%>

        <div class="admin-container">
            <div class="admin-menu">
                <%- include('../admin_includes/admin-menu.ejs',{activeTab:'manage-users'})%>
            </div>
            <div class="admin-details">
                <%- include('../admin_includes/manage-users.ejs')%>
            </div>
        </div>
        <%- include('../admin_includes/updateModal.ejs') %>

            <%- include('../includes/end.ejs') %>